[user]
	email = aedelen42@gmail.com
	name = Adam
[credential]
	credentialStore = secretservice
[core]
	editor = nvim
[difftool]
    prompt = true
[diff]
    tool = nvimdiff
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[init]
	defaultBranch = main
[alias]
	tree = log --graph --all --format="%Cblue%ae%n %Cgreen%h %Creset%s"
