/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┳┓┏┓┏┓┳
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┣┫┃┃┣ ┃
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┛┗┗┛┻ ┻
 *                             
 */


* {
    primary: #29638a;
    primary-fixed: #cbe6ff;
    primary-fixed-dim: #97ccf8;
    on-primary: #ffffff;
    on-primary-fixed: #001e30;
    on-primary-fixed-variant: #004b71;
    primary-container: #cbe6ff;
    on-primary-container: #001e30;
    secondary: #50606f;
    secondary-fixed: #d3e4f6;
    secondary-fixed-dim: #b8c8d9;
    on-secondary: #ffffff;
    on-secondary-fixed: #0c1d29;
    on-secondary-fixed-variant: #394956;
    secondary-container: #d3e4f6;
    on-secondary-container: #0c1d29;
    tertiary: #65587b;
    tertiary-fixed: #ebdcff;
    tertiary-fixed-dim: #d0c0e8;
    on-tertiary: #ffffff;
    on-tertiary-fixed: #211634;
    on-tertiary-fixed-variant: #4d4162;
    tertiary-container: #ebdcff;
    on-tertiary-container: #211634;
    error: #ba1a1a;
    on-error: #ffffff;
    error-container: #ffdad6;
    on-error-container: #410002;
    surface: #f7f9ff;
    surface-alpha: rgba(247, 249, 255, 1);
    on-surface: #181c20;
    on-surface-variant: #41474d;
    outline: #72787e;
    outline-variant: #c1c7ce;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #2d3135;
    inverse-on-surface: #eef1f6;
    inverse-primary: #97ccf8;
    surface-dim: #d7dadf;
    surface-bright: #f7f9ff;
    surface-container-lowest: #ffffff;
    surface-container-low: #f1f4f9;
    surface-container: #ebeef3;
    surface-container-high: #e5e8ed;
    surface-container-highest: #e0e3e8;
}
