/***
 *    ┓ ┏┏┓┓┏┳┓┏┓┳┓  ┳┓┳┳┳┓┳┓┓ ┏┓┏┓  ┏┓┏┓┏┓
 *    ┃┃┃┣┫┗┫┣┫┣┫┣┫━━┣┫┃┃┣┫┣┫┃ ┣ ┗┓━━┃ ┗┓┗┓
 *    ┗┻┛┛┗┗┛┻┛┛┗┛┗  ┻┛┗┛┻┛┻┛┗┛┗┛┗┛  ┗┛┗┛┗┛
 *                                         
 */


/*------------Importing Matugen Colors---------------*/
@import "matugen-colors.css";


/*------------Global Properties-----------------*/
* {
    border: none;
    border-radius: 0px;
    font-family: GeistMono Nerd Font Propo;
    font-size: 12px;
    min-height: 0px;
}

/*------------Window--------------------*/
#window{
    background: @surface;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    color: @on_surface;
}

/*----------Waybar Window------------*/
window#waybar {
    background: @surface-alpha;
}

/*-----------Tooltip--------------*/
tooltip {
  background: @surface;
  border: 2px solid @tertiary;
  border-radius: 12px;
}
tooltip label {
  color: @on_surface;
  padding: 6px;
}

/*---------Workspaces-----------------*/
#workspaces {
    background: @surface;
    /*margin: 5px 5px;*/
    padding: 8px 5px;
    border-radius: 16px;
    margin-top: 5px;
    color: @on_surface;
}
#workspaces button {
    font-weight: bold;
    padding: 0px 5px;
    margin: 0px 3px;
    border-radius: 16px;
    color: transparent;
    background: @surface_container_highest;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    font-weight: bold;
    background-color: @primary;
    color: @on_primary;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    font-weight: bold;
    background-color: @tertiary;
    color: @on_tertiary;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    font-weight: bold;
    background-color: @error;
    color: @scrim;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}


/*-----------SwayNC & Weather------------*/
/*#custom-swaync, #custom-weather {
    font-weight: bold;
    background: @surface;
    margin: 5px; 
    padding: 8px 16px;
    color: @on_surface;
}
#custom-weather {
    border-radius: 24px 10px 24px 10px;
}
#custom-swaync {
    border-radius: 10px 24px 10px 24px;
}*/

.modules-right label {
    background: @surface;
    margin: 5px;
    border-radius: 10px 24px 10px 24px;
    color: @on_surface;
}

.modules-right > widget:last-child {
  background: @tertiary_container;
  color: @on_tertiary_container;
  border-radius: 0px 0px 0px 40px; 
}

.modules-right > widget:last-child > label {
    padding: 10px 10px 15px 25px;
    background: transparent;
    margin-left: 7px;
    margin-right: 0px;
    font-weight: bold;
    font-size: 14px;
}

label.module {
    padding: 8px 16px;
}


#custom-swaync, #custom-weather {
    font-weight: bold;
    background: @surface;
    margin: 5px; 
    padding: 8px 16px;
    color: @on_surface;
}

/*#clock {
    color: @on_surface;
    padding: 10px 10px 15px 25px;
    margin-left: 7px;
    margin-right: 0px;
    font-weight: bold;
    font-size: 14px;
}*/
