/*------------Importing Matugen Colors---------------*/
@import "matugen-colors.css";


/*------------Global Properties-----------------*/
* {
  border: none;
  border-radius: 0px;
  font-family: GeistMono Nerd Font Propo;
  font-size: 12px;
  min-height: 0;
}

/*---------- Waybar Window ---------------------*/
window#waybar {
  background: @background;
  border-bottom: 3px solid @outline;
  color: @on_background;
}

/* Tooltip */
tooltip {
  background: @secondary_container;
}

/* Workspaces Button */
#workspaces button {
    padding: 0 5px;
    background: @primary_container;
    color: @on_primary_container;
    border-bottom: 3px solid transparent;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
    border-bottom: 3px solid white;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock {
    background-color: @secondary_container;
    color: @on_secondary_container
}

#battery {
    background-color: @surface;
    color: @on_surface;
}

#battery.charging {
    color: @on_tertiary;
    background-color: @tertiary;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: @error;
    color: @on_error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
