# Navigation
alias dl="cd ~/Downloads"
alias ws="cd ~/workspace"
alias dt="cd ~/.dotfiles"
alias {doc,docs}="cd ~/Documents"
alias st="cd ~/Documents/syncthing/"

#Common
alias la="ls -laFh"
alias cls="clear"
alias printpath="echo \$PATH|tr ':' '\n'"
alias dfh="duf"
alias refresh=". ~/.zshrc"
alias open="xdg-open"

# Tmux
alias {tls,tla}="tmux list-sessions"
alias {tma,ta}="tmux attach"

# Maven
alias ci="mvn clean install"
alias sbr="mvn spring-boot:run"

# Docker
alias dcls="docker context list"
alias dcl="docker context use default"
alias dcd="docker context use dockerman"

# Matugen
alias lm="matugen -v -m light image ~/.config/backgrounds/streetSky.jpg && refresh"
alias dm="matugen -v -m dark image ~/.config/backgrounds/animeHouse.jpg && refresh"
alias rw="pkill -SIGUSR2 waybar"
alias sw="waybar &"
alias kw="pkill waybar"

# Nixos
alias nrt="nixos-rebuild test --sudo"
alias nrs="nixos-rebuild switch --sudo"
alias nrdb="nixos-rebuild dry-build"
